################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/flightR/flightR/flightR/bin
/flightR/flightR/flightR/obj
/flightR/flightR/flightR.Android/obj
/flightR/flightR/flightR.Android/bin
/flightR/flightR/flightR.iOS/bin
/flightR/flightR/flightR.iOS/obj
/fligtRWebAPI/fligtRWebAPI/obj
/fligtRWebAPI/fligtRWebAPI/bin
/fligtRWebAPI/Data/obj
/fligtRWebAPI/Data/bin
/fligtRWebAPI/Model/obj
/fligtRWebAPI/Model/bin
/fligtRWebAPI/Repo/obj
/fligtRWebAPI/Repo/bin
/fligtRWebAPI/packages
