################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/flightR/flightR/flightR.Android/obj
/flightR/flightR/flightR.Android/obj
/flightR/flightR/flightR.iOS/bin
/flightR/flightR/flightR.iOS/obj
/flightR/flightR/flightR.Android/bin
